indent=2
whitespace-comma=True
whitespace-assignment=True
whitespace-relational=True
whitespace-logical=True
whitespace-plusminus=True
whitespace-multdiv=True
whitespace-print=True
whitespace-type=False
whitespace-intrinsics=True
enable-decl=True
whitespace-decl=True
