auto

*.pdf
!dev_guide/logos/*.pdf
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.csv
*.txt

*.o
*.mod
*.smod
*.deps
*.i

.dir-locals.el

doc/
html/
latex/
obj/
src/TAGS
__pycache__

ccs_app
libccs.a

*.swp

*.h5
*.xmf
*.geo
**/.DS_Store
.vscode
.devcontainer

.idea